<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agenda</title>
</head>
<body>
    <style>
        body{
            background-color: dodgerblue;
        }
    </style>
    <p>AGENDA CUMPLEAÑOS</p>
    {% for agenda in agendas %}
        <p>{{agenda.nombre}}  {{agenda.apellido}}  </p>
        <p>cumpleaños: {{agenda.cumpleaños}}</p> 
        <p>email: {{agenda.email}} - telf: {{agenda.telefono}}</p>
         <br>
    {% endfor %}
</body>
</html>